<!DOCTYPE html>
<html ng-app="OakExpress">
    <head>
        <title>Welcome to Pallet Town!</title>
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
    	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
        <script src="/scripts/porkymans.js"></script>
        <style>
            .form-control {
                width: 200px;
            }
        </style>
    </head>
    <body ng-controller="Pokedex as dex">
        <h1>{{ dex.currentUrl }}</h1>
        <h2>Hello squirrel from pallet town!</h2>

        <form class="form-inline" ng-submit="dex.submit()">
            <input class="form-control" type="text" ng-model="dex.pokemonName" placeholder="Enter your Porkyman">
            <button class="btn btn-info" type="submit">Catch him!</button>
        </form>

        <section id="results">
            <ul>
                <li>{{ dex.currentPokemon.name }}</li>
            </ul>
            <button ng-if="dex.currentPokemon.name" class="btn btn-primary" ng-click="dex.getChain()">Evolve {{ dex.currentPokemon.name }}</button>
            <p ng-if="dex.currentPokemon.evolvesTo">Evolved to {{ dex.currentPokemon.evolvesTo }}!</p>
        </section>
    </body>
</html>
